.main_content_wrap {
    width: 100%;
    height: auto;
    padding-bottom: 100px;
}

footer {
    height: 80px;
    position: relative;
    transform: translateY(-100%);
  }
  


.main_top_content{
    position: absolute;
    background-color: #444;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 9.7%;
    z-index: 1;
    padding-right: 50px;
    padding-top: 90px;
    padding-bottom: 90px;
}



.main_top_box h1{
    color: #fdd000 ;
    text-align: center;
}


.main_top_box {
    color: #ffffff;
    line-height: 50px;    
}

.small_title{
    font-size: 20px;
}

.semi_title{
    font-size: 56px;
    padding-bottom: 20px;
}

#triangle-down {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 60px solid #fdd000;
    transform: translateX(0%);
    transform: translateY(130%);
  }


.main_body_wrap{
    width: 100%;
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 450px;
}

.main_body_content{
    position: relative;
    top: 13%;
}



.main_bottom_box {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    margin-top: 150px;
    background-color: #fdd000;
    text-align: center;    
    z-index: 100;
    animation-name: scroll; 
    animation-duration: 2s; 
    animation-fill-mode:forwards;
}

.box2-1 {
    font-size: 30px;
    font-weight: 600;
}

.box2-2 {
    font-size: 35px;
}


@keyframes scroll {
    from { top: 0px; }
    to   { top: 200px; }
}


    ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: #f2f2f2;
}


::-webkit-scrollbar-thumb {
    background: #fdd000;
}


@media screen and (max-width:800px) { 
    #triangle-down {
        position: absolute;
        width: 0;
        height: 0;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-top: 60px solid #fdd000;
        transform: translateX(0%);
        transform: translateY(130%);
      }
    }